SmartRoute.DLocks/src/SmartRoute.DLocks.ServerConsole/bin/
SmartRoute.DLocks/src/SmartRoute.DLocks.ServerConsole/obj/
SmartRoute.DLocks/src/SmartRoute.DLocks.TestConsole/bin/
SmartRoute.DLocks/src/SmartRoute.DLocks.TestConsole/obj/
SmartRoute.DLocks/src/SmartRoute.DLocks/bin/
SmartRoute.DLocks/src/SmartRoute.DLocks/obj/
